[Unit]
Description=Robotics Vision Script
After=uart-enable.service

[Service]
WorkingDirectory=/var/opt/robot-vision/
ExecStart=/usr/local/bin/cvpython /var/opt/robot-vision/Vision.py
Restart=always
RestartSec=10
SyslogIdentifier=robot-vision
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=graphical.target
